.clsNavegador{
    background-color: black;
    height: 75px;
    font-size: 20px;
    padding-left: 200px;
    font-family: Arial;
    color: white;
}
.clsSelection{
    height: 500px;
    padding-left:400px;
}
.clsFooter{
    background-color:grey;
    height:60px;
}
.clsLabel1 {
    font-size: 20px;
    font-family: Arial;
}
.clsTextBox1 {
    width: 400px;
    text-align: center;
}
.clsBotton {
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: white;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.clsImagen{
    width:196px;
    height:257px;
}
.clsPremio {
    float: left;
    width: 33%;
    height: 300px;
    align-content: center;
    text-align: center;
}
.clsNombrePremio{
    font-size:30px;
}
.clsDescripcionPremio{
    font-size:15px;
}